body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-board {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%; /* Adjusted width for three columns */
}

.word {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f9f9f9;
}

.word.selected {
    background-color: #d3d3d3;
}

.word.correct {
    background-color: #90ee90;
}

.word.incorrect {
    background-color: #ffcccb;
}

.controls {
    margin-top: 20px;
}

.controls button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.controls button:hover {
    background-color: #0056b3;
}

.info {
    margin-top: 20px;
}

#uploadWordsButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#uploadWordsButton:hover {
    background-color: #007bff;
}